@keyframes background-zoom-in {
    from {
        background-size: 100%;
    }
    to {
        background-size: 110%;
    }
    
}

@keyframes background-zoom-out {
    from {
        background-size: 110%;
    }
    to {
        background-size: 100%;
    }
    
}

@keyframes zoom-in {
    from {
        scale: 100%;
    }
    to {
        scale: 110%;
    }
    
}

@keyframes zoom-out {
    from {
        scale: 110%;
    }
    to {
        scale: 100%;
    }
    
}