/* @import url('animations.css'); */
@import url('fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&amp;family=Sarabun:wght@400&amp;display=swap');
@import url('animation.css');




* {
    font-family: 'kanit';
}

html,
body {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .carousel-item>img {
        max-width: 100%;
        height: 35vh;
    }

    #contentBox {
        width: 100%;
        height: 100vh;
        padding: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-item>img {
        max-width: 100%;
        height: 70vh;
    }

    #contentBox {
        width: 100%;
        height: 80vh;
        padding: 1rem;
    }

}

.nav-link {
    padding: 1rem 0.5rem;
    border-radius: 1rem;
}

.nav-link:hover {
    background-color: lightgrey;
}

.btn-icon {
    border: none;
    background-color: transparent;
}





/* #img-tags {
    scale: 0.7;
} */

#img-tags>img {
    display: block;

    /* scale: 25%;
    align-self: center;
    display: block; */
}

#img-tags>b {
    text-align: center;
}

#contentBox1 {
    width: 100%;
    height: 60vh;
    padding: 1rem;
    margin-top: 1rem;

}



#content {
    width: 100%;
    /* height: 60vh; */
    background-color: rgba(0, 0, 0, 0.3);
    image-resolution: 1600 400;
}

nav {
    padding: 0 1rem;
}


ul {
    list-style-type: none;
}

.collapse-section ul {
    display: none;
}

.collapse-section:hover ul {
    display: block;
}

.collapse-section ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.collapse-section:hover ul {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

#major {
    color: rgba(255, 255, 255, .75);
}

footer {
    width: 100%;
    height: 35vh;
}

/* new Models */

.new-carousel-box {
    /* padding-top: 2rem; */
    height: 35vh;
    width: 100%;

}

.text-gold {
    color: #E4C77F;
}



.new-carousel-container {
    background-image: url('../img/mesh/box3.png');
    animation: background-zoom-out 0.5s;
    background-size: 100%;
    box-shadow: none;
    image-rendering: auto;
    width: 100%;
    height: 100%;
    padding: .5rem;
    box-shadow: 0rem 0rem 1rem #E4C77F;


}

.new-carousel-container:hover {
    animation: background-zoom-in 0.5s;
    background-size: 110%;
}


.btn-link {
    text-decoration: none;
    font-size: large;
    color: white;
    transform: translateY(-0.5rem);
    transform: translateX(.75rem);
}



#wave {
    position: absolute;
    top: 0;
    width: fit-content;
    left: 0;
}

.bg-outline-gold-in {
    background-color: white;
    color: #E4C77F;
    border: white 2px solid;

}

.bg-outline-gold-in:hover {
    background-color: #E4C77F;
    color: white;

}

.bg-outline-gold-out {
    border: white solid 2px;
    background-color: #E4C77F;
    color: white;
}

.bg-outline-gold-out:hover {
    background-color: white;
    color: #E4C77F;
}

.bs-icon {
    border: none;
    background-color: transparent;
}

.card>img {
    width: 100%;
    height: 280px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgba(0, 0, 0, .75);
}

.panel {
    width: 512px;
    height: 256px;
    background-color: #E4C77F;
    margin: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: #E4C77F 0 0 1rem;
}

.alumni {
    margin: 1rem;
}

.alumni>img {
    width: 330px;
    border-radius: 1rem;

    
}