@import url('animations.css');
@import url('fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&amp;family=Sarabun:wght@400&amp;display=swap');

* {
    font-family: 'kanit';
}


@media only screen and (max-width: 768px) {
    .carousel-item>img {
        max-width: 100%;
        height: 35vh;
    }

    #contentBox {
        width: 100%;
        height: 100vh;
        padding: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-item>img {
        max-width: 100%;
        height: 70vh;
    }

    #contentBox {
        width: 100%;
        height: 80vh;
        padding: 1rem;
    }

}

.btn-icon {
    border: none;
    background-color: transparent;
}

.bg-outline-gold:hover {
    background-color: transparent;
    border: 1px #e4c77f solid;
    color: #e4c77f;
}

.bg-outline-gold {
    background-color: #e4c77f;
    border: 1px #e4c77f solid;
    color: white;
}


.bg-gold {
    background-color: #e4c77f;
}

/* #img-tags {
    scale: 0.7;
} */

#img-tags>img {
    display: block;

    /* scale: 25%;
    align-self: center;
    display: block; */
}

#contentBox1 {
    width: 100%;
    height: 60vh;
    padding: 1rem;
    margin-top: 1rem;

}



#content {
    width: 100%;
    /* height: 60vh; */
    background-color: rgba(0, 0, 0, 0.3);
    image-resolution: 1600 400;
}

nav {
    padding: 0 1rem;
}


ul{
    list-style-type: none;
}
.collapse-section ul {
    display: none;
}

.collapse-section:hover ul {
    display: block;
}

.collapse-section ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.collapse-section:hover ul {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

#major {
    color: rgba(255, 255, 255, .75);
}